<section>
  <div class="row">
    <div class="col-sm-12">
      <section>
        <div class="row">
          <div ng-repeat="emp in employees | filter:searchByName">
            <emp-card employee="emp"></emp-card>
          </div>
        </div>
        </div>
      </section>
  </div>
</div>

<div class="row">
  <div class="well col-sm-12">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width:5%">Id</th>
          <th style="width:35%">Name</th>
          <th style="width:5%">Age</th>
          <th style="width:15%">Job</th>
          <th style="width:20%">Status</th>
          <th style="width:20%">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="emp in firedEmployees | filter:searchByName">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.age}}</td>
          <td>{{emp.job}}</td>
          <td>{{emp.status}}</td>
          <td>{{emp.salary | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</section>
